.NavBar{
    width: 100%;
    height: 61px;
    background: var(--clr-primary-1);
    border-bottom: 1px solid var(--clr-primary-2);
    position: fixed;
    margin-top: 91px;
    z-index: 1;
    .navbar{
        width: 58%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        float: right;
        align-items: center;
        padding-top: 10px;
        .ul_nav{
            .li_nav{
                display: inline-block;
                margin-left: 33px;
                margin-right: 33px;
                .link{
                    font: {
                        size: 18px;
                        family: var(--font-primary-2);
                        weight: bold;
                    }
                    color: var(--clr-primary-2);
                    text: {
                        decoration: none;
                        transform: capitalize
                    }
                    transition: .6s ease-in-out;
                    &:hover{
                        color: var(--clr-primary-5);
                    }
                }
                .active{
                    color: var(--clr-primary-5);
                }
            }
        }
        .icons{
            width: 20%;
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            .Compte{
                .profile{
                    @include icons;
                    
                }
            }
            .shopping{
                .shoppingCart{
                    @include icons;
                }
            }
            .menu{
                .menucart{
                    @include icons;
                    margin-left: 20px;
                    display: none;
                    &:nth-child(2){
                        display: none;
                    }
                }
            }
        }
    }
}
.aside_menu{
    width: 100%;
    height: 100%;
    background: var(--clr-primary-1);
    padding-bottom: 20px;
    margin-top: 152px;
    display: none;
    position: fixed;
    z-index: 1;
    .ul_nav{
        padding-top: 10px;
        .li_nav{
            display: block;
            text-align: center;
            margin-top: 10px;
            .link{
                font: {
                    size: 18px;
                    family: var(--font-primary-2);
                    weight: bold;
                }
                color: var(--clr-primary-2);
                text: {
                    decoration: none;
                    transform: capitalize
                }
                transition: .6s ease-in-out;
                &:hover{
                    color: var(--clr-primary-3);
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 739px) {
    .NavBar{
        .navbar{
            width: 100%;
            .ul_nav{
                display: none;
            }
            .icons{
                justify-content: space-between;
                .menu{
                    .menucart{
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 740px) and (max-width: 1222px) {
    .NavBar{
        .navbar{
            width: 100%;
        }
    }
}